<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>

    <add name="Contatos" connectionString="server=localhost; user ID=root; 
         password=Fallout4Vault2077$; database=Contatos" 
         providerName="MySql.Data.MySqlClient;"/>
    
  </connectionStrings>
  
</configuration>